.lcms-table-columns td {
font-size: 1rem;
table-layout: fixed;
font-weight: bold;
padding: 1rem 2rem 0rem 1rem;/*  top,right,bottom,left */
max-width: 1000px;
}
.lcms-table-columns td smalltext{font-size: 0.75rem;font-weight: 100;}

td{
word-wrap:break-word;
}

.liClass {
list-style: none;
}
    

.liClass::before {

/* Unicode for a bullet */
content: "\2022";

/* Styles for Indentation*/
color: #00BFA5;
size: 10;    
display: inline-block;
width: 1em;
margin-left: -1em;
}

.liClass {
color: white;
}


h5 {
font-weight: 200;
/* margin: 0.4em 0; */
color: #00BFA5;
font-size: 24px;
font-family: inherit;
text-align: center;
}




.row {
    margin-right: 0rem;
   margin-left: 0rem;
}
nav{
    padding-left:1.5rem;
    padding-right:1.5rem;
}
.container-fluid{
    padding-left:0rem;
    padding-right:0rem;
}

.home-section{
    margin-left:1.5rem;
    margin-right:1.5rem;
}
.navbar-header{font-size:2rem;padding-top: 0.25rem;}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
background: rgba(235, 235, 235, 0) !important;
color: var(--teal-80) !important;

}
.form-check-label{
    margin-top:1rem;
}
.navbar-toggler{
    width: 3rem;
    height:3rem;
    border-color: none;
    background-color: var(--deep-brown-100);
    color:none;
    
     }
     .navbar-toggler>span{font-size:2rem;color:var(--deep-brown-10)} 
.bg-dark{background-color: var(--solid-black)!important;
    color:var(--deep-brown-10)!important;}

.intro-text{
    text-align: left;
    font-size:1.8rem;
    margin-top:3rem;
}
.intro-text>ul>p{
    margin-bottom:2rem;
}
.application-examples{margin-top:2rem;}


.bg-dark a{
    color:var(--deep-brown-10)
}

.bg-white a{
    color:var(--teal-100)
}

