@import "https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap";


:root{
  --teal-30:#B2ECE4;
  --teal-50:#80DFD2;
  --teal-80:#00BFA5;
  --teal-100:#00897B;

  
  --deep-brown-10:#D6D1CA;
  --deep-brown-20:#BFB7B0;
  --deep-brown-30:#ACA199;
  --deep-brown-50:#968B83;
  --deep-brown-70:#847779;
  --deep-brown-80:#6F6259;
  --deep-brown-100:#372E2C;


  --grayy:#6F6259;
  --black:#000;
  --white:#FFF;
  
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: 300;
    font-stretch:   condensed;
    /*line-height: 1.7em;*/
    /*color: var(--white);*/
}

a{color:var(--white);}
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .panel-title a:after {
    font-family:Fontawesome;
    content:'\f068';
    float:right;
    font-size:15px;
    font-weight:300;
    color:var(--white);
}

.gray{
  color:var(--grayy);
}
.teal{
  color:var(--teal-100);
}

/*Scroll bar styling*/
.flexcroll::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.flexcroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
    background: var(--teal-100); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*///////////////////////////////////////////////////////////*/

.bg-black, .panel-heading,.tools-collapse-title{
  background-color: var(--black);
  margin:0px!important;
  color:var(--white)!important;
  outline:none;
  vertical-align:middle;

}
.panel-heading{
  border-top: 1px solid var(--deep-brown-10);
  border-bottom: 1px solid var(--deep-brown-10);

}
.bg-white, .panel-body{
  background-color: var(--deep-brown-10);
  margin:0px!important;
  color:#000!important;
  outline:none;
  vertical-align:middle;
}
.panel-title a.collapsed:after {
    font-family:Fontawesome;
    content:'\f067';
    color:#FFF;
    vertical-align: middle!important;
}

.layer-collapse-title {
    content:'\f067';
    color:var(--white);
   
  }
  .layer-collapse-title:hover,.panel-title:hover,.fa:hover,.dropdown-item:hover,.nav-link:hover, .hover-teal:hover{ 
  color:var(--teal-100)!important;
  text-decoration: none;
  font-weight: 1000;


}

.container{
   left:0%;
  top:0%;
  padding-right: 0;
     padding-left: 0; 
     margin-right: auto;
     margin-left: auto;
  position:absolute;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,1);
  z-index:1000000;
}
div.container.tight {
    padding: 0;
}

div.container.tight > .row-fluid {
    padding: 0;
}

#legendDiv{padding:0px;}
.googleChartTable {
                background-color: var(--black)
                color: var(--white);
                overflow-y:auto;
                 }
/*.top-row{
display:flex;

  
}*/

.map{
  width:100%;
  height:100%;
  min-height:350px;
position:absolute;
}
.middle-row{
  height:85%;
  
}

.bottom-row{
  min-height:5%;
  position:absolute;
}
.row{
  background-color: var(--black);
  color:#AAA;

   margin-left: 0 !important;
    margin-right: 0 !important;
}

.sidebar{
  overflow-y: auto;
  max-height:100%;
}

      .button {
  display: inline-block;
  background: var(--black);
  border-radius:  1px;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 0px;
  font-family: Arial;
  color: var(--white);
  font-size: 12px;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
}

.button:hover {
  background: #aebbc2;
  background-image: -webkit-linear-gradient(top, #aebbc2, #cad3d9);
  background-image: -moz-linear-gradient(top, #aebbc2, #cad3d9);
  background-image: -ms-linear-gradient(top, #aebbc2, #cad3d9);
  background-image: -o-linear-gradient(top, #aebbc2, #cad3d9);
  background-image: linear-gradient(to bottom, #aebbc2, #cad3d9);
  text-decoration: none;}

.button:active {
  background-color: #FFFFFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#Progress {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: gray;
    border-radius:  5px;
}
#Bar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: var(--white);
    border-radius:  5px;
}
select {
   border:0px;
   outline:0px;
   background-color:#FFF;
   color:#000;
   margin-left:1px;
}