:root {
 
  --solid-black: #1f1616;
  --light-black: #2f2626;
  
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--solid-black);
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  /* max-width: 99.1%; */
}
@media only screen and (max-width: 1600px) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 1400px) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 992) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 768) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 576px) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 16px !important;
  }
}
.lcms-table-columns td {
  font-size: 1rem;
  table-layout: fixed;
  font-weight: bold;
  padding: 1rem 2rem 0rem 1rem; /*  top,right,bottom,left */
  max-width: 1000px;
}
.data-descriptions-row {
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* border-bottom: 1px solid var(--deep-brown-10); */
}
.data-descriptions-classes-row {
  /* padding-left:0; */
  margin-top: 1rem;
}
.data-descriptions-header {
  font-size: 1.5rem;
  font-weight: bold;
}
.data-description-classes {
  font-size: 1.2rem;
  font-weight: bold;
}
ul {
  cursor: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.lcms-table-columns td smalltext {
  font-weight: 100;
}

td {
  word-wrap: break-word;
}

.liClass {
  list-style: none;
}
.explorer-example-img{
  padding:1rem;
}
.description-li{
  list-style-type: disc;
}
.liClass::before {
  /* Unicode for a bullet */
  content: "\2022";

  /* Styles for Indentation*/
  color: #00bfa5;
  size: 10;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.liClass {
  color: white;
}

h5 {
  font-weight: 200;
  /* margin: 0.4em 0; */
  color: #00bfa5;
  font-size: 24px;
  font-family: inherit;
  text-align: center;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  border-top: none;
  user-select: none; /* Prevent text selection */
  white-space: nowrap;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
  background-color: var(--solid-black);
  color: var(--deep-brown-10);
}

/* /*padding: 15px 0px 15px 0px; /*top,right,bottom,left*/
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  font-family: FontAwesome;
  content: "\f07b";
  color: var(--deep-brown-10);
  display: inline-block;
  margin-right: 0.3em;
  padding-left: 0.25em;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  font-family: FontAwesome;
  content: "\f07c";
  color: var(--deep-brown-10);
}
.bg-download-select {
  color: var(--deep-brown-10) !important;
  margin: 0px !important;
  background-color: var(--solid-black) !important;
  outline: none !important;
}
#downloadTree {
  background-color: var(--solid-black);
  color: var(--deep-brown-10) !important;
}
.legend ul.legend-labels li span {
  width: 1rem;
}
.legend ul.legend-labels li p {
  font-size: 0.75rem;
  margin-top: 1px;
  margin-bottom: 1px;
}
.legend {
  /* margin-left: -2.5rem; */
  margin-top: 0.25rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 5rem;
  background-color: #1b1716aa;
  color: var(--deep-brown-10);
}
.large-legend {
  font-size: 0.8rem;
  
  position: relative;
  margin-top:2rem;
  margin-left:1rem;
  width: 100%;
}
.large-legend ul.legend-labels {
  list-style: none;
}
.large-legend ul.legend-labels li {
  display: inline-block;
  margin-right: 10px;
}
.legend-labels {
  margin-bottom: 0px;
  padding-left: 0.1rem;
  padding-right: 0px;
  padding-top: 0.1rem;
}
.legend-container {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
}
.legend-colorRamp {
  font-size: 0.9rem;
  width: 5rem;
}
.colorRamp {
  /* position: absolute; */
  /* left: 0px; */
  /* top: 0px; */
  /* display: inline-block; */
  width: 1.5rem;
  height: 3rem;
}
.colorRamp-labels {
  padding-left: 2rem;
}
.top-colorRamp-label {
  padding-top: 0rem;
}
.bottom-colorRamp-label {
  padding-top: 0.5rem;
}
.row {
  margin-right: 0rem;
  margin-left: 0rem;
}
a>b{
  color:var(--teal-100)
}
nav {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
}

.home-section {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.gtac-address > p {
  margin: 0px;
}
.navbar-header {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.navbar-nav > li {
  margin-left: --0.5rem;
  margin-right: -0.5rem;
}
.navbar-nav {
  margin-top: 0.6rem;
  /* margin-bottom: 0.5rem; */
  font-size: 1rem;
  
}
.navbar-inverse{
  background-color: var(--light-black);
  border-color: var(--deep-brown-20);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: rgba(235, 235, 235, 0) !important;
  color: var(--teal-80) !important;
  padding-left: 0rem;
}
.navbar {
  min-height: 4rem;
}
hr {
  border: 1;
  border-top: 1px solid var(--deep-brown-100);
}
.teal-study-area-label {
  font-size: 2.25rem;
  color: var(--teal-100);
}
.form-check-label {
  margin-top: 1rem;
}
.nav-toggler {
  /* width: 1.5rem; */
  /* height:1.5rem; */
  /* border-color: none; */
  /* margin-top:0.5rem; */
  /* background-color: var(--deep-brown-100); */
  color: var(--deep-brown-10);
  font-size: 2.25rem;
}
.nav-toggler:active {
  transform: translate(0.3rem) translateY(0.3rem) !important;
}

.nav-toggler > span {
  font-size: 1.75rem;
  color: var(--deep-brown-10);
}


.sa-label{
  left:5%;
  top:0.25rem;
  position:relative
}
.bg-dark {
  background-color: var(--solid-black) !important;
  color: var(--deep-brown-20) !important;
}

.intro-text {
  /* text-align: left; */
  font-size: 1.25rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.intro-text > p {
  margin-bottom: 2rem;
}
.intro-text > p > b > i {
  font-size: 1.5rem;
}
.intro-text li {
  list-style: square;
}
.application-examples {
  margin-top: 3rem;
}
.conus-pane {
  margin-bottom: 0.5rem;
}
.bg-white .homepage-link {
  color: var(--deep-brown-100);
}
.bg-dark .homepage-link {
  color: var(--deep-brown-20);
}
.homepage-link {
  font-weight: bold;
}
.homepage-link:hover {
  font-weight: bolder;
  /* color:var(--teal-100); */
  text-decoration: underline;
}
.homepage-link:active {
  transform: translate(0.3rem) translateY(0.3rem) !important;
}

.links-home-bottombar {
  text-decoration: underline !important;
  /* font-size: 0.5rem; */
  /* font-weight: bold; */
  /* margin-right: 0.3rem; */
  color: var(--deep-brown-20) !important;
}
.list-group-item {
  padding-left: 0.5rem;
}
body,
label {
  cursor: text;
}
